.card0{
    width: 260px;
    height: 160px;
    justify-content: center;
    background-color:rgb(0, 81, 255);
  display: flex;
  }
  .card1{
    justify-content: center;
    font-size: 30px  ;
    width: 260px;
    height: 160px;
    text-align: center;
    margin: 2px;
    padding: 50px;
    border-radius: 10px;
    border-width: px;
    border-color: black;
    font-weight: bold;
    background-color:rgb(0, 81, 255);
    color: rgb(255, 255, 255);
  }
  
  .card2{
    font-size: 30px  ;
    width: 260px;
    height: 160px;
    text-align: center;
    margin: 2px;
    padding: 50px;
    border-radius: 10px;
    border-width: px;
    border-color: blueviolet;
    font-weight: bold;
    background-color:rgb(0, 81, 255);
    color: rgb(255, 255, 255);
  }
  
  .card3{
    font-size: 30px ;
    width: 260px;
    height: 160px;
    text-align: center;
    margin: 2px;
    padding: 50px;
    border-radius: 10px;
    border-width: px;
    border-color: blueviolet;
    font-weight: bold;
    background-color:rgb(0, 81, 255);
    color: rgb(255, 255, 255);
  }
  
  .container{
  display: flex;
  justify-content: center;
  text-align: center;
  margin: 60px;
  }
  
  
  table tbody td, 
  table tbody th,
  table thead>tr>th {
    float: left;
  }
  
  .background {
    background-color:rgb(255, 255, 255)
  }
  
  ul li{
    margin: 0px;
    display: inline;
    padding:  15px;
  }
  
  nav ul li :hover{
    color: rgb(89, 0, 255);
  }
  
  /* .container.panel {
    margin-top: -20px;
    justify-content: space-between;
  } */
  
  .container.mypanel{
    color: rgb(238, 228, 228);
    margin-bottom: 70px;
  }
  
  @import url('https://fonts.googleapis.com/css?family=Sen:400,700&display=swap');
  
  
  nav .navbar h1{
    font-size: 69px;
  }
  
  .nav {
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    padding: 30px;
  }
  nav a{
    color: red;
  }
  
  .background{
    background-color: rgb(14, 13, 13);
    height: 800vh;
    background-size: cover
  }
  
  .text{
    color: white;
  }
  
  tr {
    color: rgb(0, 0, 0);
    border-color: blueviolet;
    
  }
  
  table {
    color: rgb(0, 0, 0);
    background-color: rgb(0, 81, 255);
    border-color: black;
    border-radius: 13px;
    overflow-y: auto;
    width: 62%;
     max-height: 400px;
    overflow-y: auto;
    border-color: blueviolet;
  }
  
  th {
    color: rgb(255, 255, 255);
    align-items: center;
    border-color: rgb(0, 0, 0);
  }
  table tbody{
    max-height: 30px;
    overflow-y: auto;
    width: 100%;
  }
  
  .carousel{
  height: 400px;
  padding: -80px;
  }
  
  .welcome{
    font-size: 25px;
    color: rgb(99, 99, 99);
  }